@media screen and (max-width: 450px) {
  .postContainer {
    display: flex;
    gap: 8px;
  }

  .postLeft {
    flex: 2;
    margin: 1px;
  }

  .postCategory {
    text-transform: uppercase;
    color: #999;
    border-bottom: 1px solid #15feeb;
  }

  .postTitle {
    font-size: 14px;
  }

  .postDesc {
    font-size: 10px;
  }

  .postDate {
    font-size: 12px;
    color: #999;
  }

  .postRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-self: flex-start;
  }

  .postImg {
    width: 100px;
    height: 80px;
    object-fit: contain;
  }
}
